@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body{
    margin: 0;
    font-family: 'Poppins', sans-serif;

}
/* common css styles */
#container{
    width: 1321px;
    margin: 0 auto;
}
body, a{
    text-decoration: none;
}
/* Top Banner styles */
.top-banner{
    width: 1321px;
    display: flex;
    flex-direction: row;

    margin-top: 40px;
    background: #161616;
    border-radius: 30px;
}
.banner-details{
    width: 531px;
    margin: 90px 24px 50px 106px;
   
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;
}
.banner-paragraph{
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 16px;
}
.banner-btn{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    
}
.btn{
   font-size: 20px;
   text-align: center;
   color: #FFFFFF;
   background-color: #1c3080;
   padding: 16px 25px;
   border-radius: 5px;
   
}
.banner-img{
    width: 581px;
    margin-right: 79px;
    transition: transform ease 2s;
}
.banner-img img{
    width: 100%;
    height: 100%;
    display: block;
    
}
.banner-img:hover{
    transform: translate(50PX);
}
/* Main Blog */
.main-blogs{
    margin-top: 50px;
    margin-bottom: 50px;
}
.nav-link{
    width: 240px;
    text-align: center;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 25px;
    border-radius: 10px;
    background-color:#161616;
    margin-right: 24px;
    float: left;
}
.btn-link{
    background-color: #FFFFFF;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 30px;
    border-radius: 10px;
    color: #161616;
}
.active, a:active{
  background-color:#1c3080;
  color: #FFFFFF;
}
/* single blog styles */
.main-blog{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 24px;
}
.single-blog{
    width: 312px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.single-blog img{
    width: 100%;
}
.blog-btn{
    border: 1px solid rgba(22, 22, 22, 0.475);
    border-radius: 5px;
   
}
.blog-details{
    padding: 10px;
}
.blog-details a{
    font-size: 16px;
    padding: 5px 10px;
    color: #161616;
}
.blog-title{
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}
.blog-icons img{
    width: 24px;
    height: 24px;
    margin-bottom: -7px;
    
}
.blog-icons{
    font-size: 16px;
    display: flex;
    column-gap: 20px;
    align-items: baseline;
    color: rgba(22, 22, 22, 0.7);
}
.tablet-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    visibility: hidden;
}
/* footer section styles */
footer{
    
    text-align: center;
    background-color: #161616;
    padding: 50px 0px;
    margin: auto;
}

.footer-title{
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
}
hr{
    width: 1300px;
    height: 0px;
    margin-bottom: 30px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-nav{
    width: 700px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}
.footer-nav li{
    list-style: none;
    
}
.footer-nav li a{
    color: #B9B9B9;
    font-size: 16px;
    text-align: center;
}
.social-icon{
    margin-top: 25px;
    visibility: visible;
 }
 .colors{
    color: #FFFFFF;
    margin: 0px 10px;
    font-size: 20px;
 }
.fa-facebook-f:hover{
    color: #1877F2;
}
.fa-instagram:hover{
    color: #E4405F;
}
.fa-twitter:hover{
    color: #1DA1F2;
}
.fa-linkedin-in:hover{
    color: #0A66C2;
}

/* ubcoming match styles */
.Upcomings{
    text-align: center;
    width: 240px;
    padding: 25px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}
.match-list{
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.live{
    margin: 0;
    margin-top: 20px;
    font-size: 20px;
    color: #161616;
}
.match-title{
    margin: 0;
    font-size: 16px;
    color: #4D4D4D;
}
.match-list img{
    width: 50%;
}

/* ---------------- */
    /* responsive */
/* ----------------- */

/* Mobail views */
@media only screen and (max-width:576px) {
    #container{
        width: 90%;
    }
    /* Top Banner responsive */
    .top-banner{
        width: 100%;
       flex-direction: column;
       text-align: center;
    }
    .banner-details{
        width: 258px;
        margin: 0 auto;
        padding: 30px 0px;
    }
    .banner-title{
        font-size: 28px;
    }
    .banner-paragraph{
        font-size: 14px;
    }
    .banner-img{
        width: 300px;
        margin: auto;
        padding-left: 25px;
    }
    .banner-img img{
        display: block;
    }
    .btn{
        margin: auto;
    }
    /* Main Blog */
    .main-blogs{
        margin: auto;
    }
    .nav-link{
        margin-top: 20px;
        float: none;
        margin: auto;
        margin-bottom: 20px;
        background: none !important;
    }
    .btn-link{
        border: 1px solid #E8E8E8;
    }
    .main-blog{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .tablet-btn{
        margin-top: 30px;
        visibility: visible;
    }
    /* footer section responsive */
    footer{
        width:100%;
        background-color: #161616;
        padding: 40px 0px;
        margin: auto;
        text-align: center;
        margin-top: 40px;
     }
     hr{
        width: 80%;
     }
     .footer-nav{
         flex-direction: column;
         width: 60%;
         padding-left: 0px;
     }
     .footer-nav li{
        width: 100%;
        margin: 10px 0px;
        
     }
     .social-icon{
        margin-top: 25px;
        visibility: visible;
     }
     .colors{
        color: #FFFFFF;
        margin: 0px 10px;
        font-size: 20px;
     }
}

/* Tablet views */
@media only screen and  (min-width:577px) and (max-width:992px) {
    /* Top Banner  tablet */
     .top-banner{
         width: 94%;
         margin: auto;
         margin-top: 50px;
     }
 
     /* Main Blog */
     .nav-link{
         width: 94%;
         display: flex;
         float: none;
         margin: auto;
         justify-content: space-between;
         background: none !important;
         
     }
     .main-blog{
         width: 94%;
         margin: auto;
         display: grid;
         grid-template-columns: repeat(2,1fr);   
     }
     .single-blog{
         width: 100%;
     }
     .blog-details{
         width: 357px;
     }
    .tablet-btn{
        margin-top: 20px;
        visibility: visible;
    }
    /* upcoming responsive */
    .Upcomings{
        width: 100%;
    }
    .live-match{
        margin: auto;
    }
    .live{
        font-size: 35px;
        margin-bottom: 10px;
    }
    .match-title{
        font-size: 25px;
    }
     /* Footers responsive tablets */
     footer{
        width:1320px;
     }
    .btn-link{
        width: 240px;
        border: 1px solid #E8E8E8;
    }
    .nav-link{
        width: 94%;
        display: flex;
        float: none;
        margin: auto;
        justify-content: space-between;
        background: none !important; 
    } 
 }
